<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title  th:text="${msg}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary shadow  ">
    <div class="container-fluid">
      <a class="navbar-brand text-white display-4" th:href="@{'/'}">Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
      <div class="container mt-3 ">
       <div class="  w-50  mx-auto rounded p-4 border shadow p-3 mb-5  rounded"  >
        <h3 class="text-center rounded display-6 border p-1 mb-3 text-primary text-opacity-75 ">Edit Book</h3>
        <form method="post" th:object="${product}" th:action="@{/update}"> <!--memperbaiki sebelumnya save-->
            <div class="form-group">
                <label class="mb-1">Code</label>
                <input type="text" class="form-control" th:field="*{code}" autocomplete="off">
            </div>
            <div class="form-group">
                <label class="mb-1">Name</label>
                <input type="text" class="form-control" th:field="*{name}"  autocomplete="off">
            </div>
            <div class="form-group">
                <label class="mb-1">Price</label>
                <input type="number" class="form-control" th:field="*{price}"  autocomplete="off">
            </div>
            <div class="form-group">
                <label class="mb-1">Qty</label>
                <input type="number" class="form-control" th:field="*{qty}"  autocomplete="off">
            </div>
            <br/>
            <input type="hidden" th:field="*{id}">
            <p class="text-center"><button class="btn btn-outline-primary w-75 " type="submit">Save</button></p>
        </form>
       </div>
      </div>
   
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>